In [1]:
ls1 = ['A','B','C','D']

In [2]:
# 1. insert 'Z' at the 2nd position in above list

ls1.insert(2,'Z')
print(ls1)

['A', 'B', 'Z', 'C', 'D']

In [11]:
# 2. remove 'D' from the list do it by multiple  ways. del, remove , pop .

# ls1.pop(4)
ls1 = ['A','B','C','D']
ls1.remove('D')
ls1 = ['A','B','C','D']
del(ls1[3])
print(ls1)

['A', 'B', 'C']

In [15]:
ls2 = [85,96,54,5,85,69,2]
# 1. sort the list into  ascending order as well as desecnding order. 

ls2.sort()
print(ls2)
print(ls2[::-1])

ls2 = [85,96,54,5,85,69,2]
ls2.sort()
ls2.reverse()
print(ls2)

[2, 5, 54, 69, 85, 85, 96]
[96, 85, 85, 69, 54, 5, 2]
[96, 85, 85, 69, 54, 5, 2]

In [16]:
# 2. ls3 = ["RADHEY","UPFLAIRS"]  extend into ls2.

ls2 = [85,96,54,5,85,69,2]
ls3 = ["RADHEY","UPFLAIRS"]

ls2.extend(ls3)
print(ls2)

[85, 96, 54, 5, 85, 69, 2, 'RADHEY', 'UPFLAIRS']

In [24]:
# 3.  update "RADHEY" by the "Radha"

str = "RADHEY"
newStr = str.title().replace('ey', 'a')
print(newStr)

Radha

In [29]:
# 4. extract "AIR" from the "UPFLAIRS" from ls2.
# 4. extract "AIR" from the "UPFLAIRS" from ls2.

ls2 = [85,96,54,5,85,69,2,"RADHEY","UPFLAIRS"]
ls = ls2[8][4:7]
print(ls)

AIR