In [2]:
ls1 = ['A','B','C','D']

In [3]:
# 1. insert 'Z' at the 2nd position in above list

ls1.insert(2,'Z')
print(ls1)

['A', 'B', 'Z', 'C', 'D']

In [4]:
# 2. remove 'D' from the list do it by multiple  ways. del, remove , pop .

# ls1.pop(4)
ls1 = ['A','B','C','D']
ls1.remove('D')
ls1 = ['A','B','C','D']
del(ls1[3])
print(ls1)

['A', 'B', 'C']

In [5]:
ls2 = [85,96,54,5,85,69,2]
# 1. sort the list into  ascending order as well as desecnding order. 

ls2.sort()
print(ls2)
print(ls2[::-1])

ls2 = [85,96,54,5,85,69,2]
ls2.sort()
ls2.reverse()
print(ls2)

[2, 5, 54, 69, 85, 85, 96]
[96, 85, 85, 69, 54, 5, 2]
[96, 85, 85, 69, 54, 5, 2]

In [6]:
# 2. ls3 = ["RADHEY","UPFLAIRS"]  extend into ls2.

ls2 = [85,96,54,5,85,69,2]
ls3 = ["RADHEY","UPFLAIRS"]

ls2.extend(ls3)
print(ls2)

[85, 96, 54, 5, 85, 69, 2, 'RADHEY', 'UPFLAIRS']

In [7]:
# 3.  update "RADHEY" by the "Radha"

str = "RADHEY"
newStr = str.title().replace('ey', 'a')
print(newStr)

Radha

In [8]:
# 4. extract "AIR" from the "UPFLAIRS" from ls2.

ls2 = [85,96,54,5,85,69,2,"RADHEY","UPFLAIRS"]
ls = ls2[8][4:7]
print(ls)

AIR

In [2]:
# test
ls = [10,25,36,85,95,45,68,45]
i = 0
while i < len(ls):
    print(i, " ===>  ", ls[i])
    i = i +1

0  ===>   10
1  ===>   25
2  ===>   36
3  ===>   85
4  ===>   95
5  ===>   45
6  ===>   68
7  ===>   45

In [6]:
### Task 1.


ls = [10,42,5,153,6,9,85,7,5,4,5,6,1,4,5,2,36,75,84,69,58,45]

# 1. write a program to find average of the above list. 

x = 0
for i in range(len(ls)):
    x = x+ls[i]
print(x/(len(ls)))

32.54545454545455

In [7]:
# 2. write a program to find average of a even numbers from the above list. 

x = 0
a = 0
for i in range(len(ls)):
    if (ls[i]%2 == 0 ):
        a = a + 1
        x = x+ls[i]
print(x/a)

25.2

In [11]:
# 3. write a program to find average of a even numbers from the above list and even number should be less than 50. 

x = 0
a = 0
for i in range(len(ls)):
    if(ls[i]%2 == 0 and ls[i] < 50):
        a = a + 1
        x = x+ls[i]
print(x/a)

13.75

In [14]:
###  Task 2.

student_data = {  'Name':['mohit','suresh','chandan','kartik'],   'Marks':[25,36,45,46],   'subject':'math'  }

#  1. find the no. of student in a "student_data"?

print(len(student_data["Name"]))

4

In [45]:
#  2. add one more student record inside student_data "kaalu" and their marks = 38

student_data = {  'Name':['mohit','suresh','chandan','kartik'],   'Marks':[25,36,45,46],   'subject':'math'  }

student_data["Name"].insert(4,'kaalu')
student_data["Marks"].insert(4,38)
print(student_data)

{'Name': ['mohit', 'suresh', 'chandan', 'kartik', 'kaalu'], 'Marks': [25, 36, 45, 46, 38], 'subject': 'math'}

In [59]:
#  3. remove the student "suresh" and thier marks from the student_data.

student_data = {  'Name':['mohit','suresh','chandan','kartik'],   'Marks':[25,36,45,46],   'subject':'math'  }

student_data['Name'].pop(1)
(student_data['Marks']).pop(1)
student_data

{'Name': ['mohit', 'chandan', 'kartik'],
 'Marks': [25, 45, 46],
 'subject': 'math'}